.App {
  text-align: center;

}

.App-logo {
  height: 150px;
}

.App-header {
  background-color: grey;
  height: 200px;
  padding: 20px;
  color: grey;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
