body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  background-color: #fffaf0;
  height:100%;
}
.ui.navbar {
  background-color: #b3ee3a;
  box-shadow: 2px 2px;
}
.ui.icon:hover {
  background-color: #f64c72;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.ui.segment {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f64c72;
    box-shadow: 2px 2px;
    margin-right: 20px;
}
.column.menu.bar:hover {
    background-color: #ddeaff;
}
.column.menu {
  width: 100%;
  height: 100%;
}

.menubar.item {
  font-size: 36px;
}
.ui.segment.navbar {
  background-color: #ececec;
}
.segment.user {
  background-color: #ddeaff;
  width: 100%;
  height:100%;
}
.usergrid {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  overflow:hidden;
  max-height: 80vh;

}
.usergrid:hover {
  overflow-y:scroll;
}
.outer {
  justify-content: center;
  background-color: ;
  justify-content: center;
}
.ui.segment.emoji {
  background-color: white;
}
.ui.segment.emoji.top:hover {
  background-color: green;
  color: black;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.ui.segment.emoji.top:focus {
  background-color: green;
  color: black;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.ui.segment.emoji.good:hover {
  background-color: #bdffb2;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.ui.segment.emoji.good:focus {
  background-color: #bdffb2;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.ui.segment.emoji.confused:hover {
  background-color: #ef9797;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.ui.segment.emoji.confused:focus {
  background-color: #ef9797;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.ui.segment.emoji.out:hover {
  background-color: #fc0000;
  color: black;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.ui.segment.emoji.out:focus {
  background-color: #fc0000;
  color: black;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.button.likes {
  background-color: #fffaf0;
}

#form-textarea-control-opinion {
  margin-top: 10px;

}

#form-button-control-public {
  margin-bottom: 30px;
}

/* #styling {
  background-color: white;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
  border-radius: 10px;
  margin: 5px;
  padding: 12px;
} */

.reply.styling {
  border-radius: 10px;
}

.ui.form.textarea {
  background-color: white;
  overflow:hidden;
  border-color: red;
}



/* #userinterface {
  max-height: 100%;
  max-width: 100%;
  padding:10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
} */

.row.grid {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}


.eight.wide.column {
  /* display: absolute; */
  background-color: white;
}

.twelve.wide.column {
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

.ui.button.ui.circular.label:hover {
  background-color: #f64c72;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.content:hover {
  background-color: #fcfdff;
  color: #3a7999;
}

.left.aligned.center.aligned.column.reply {
  margin-top: 10px;
}


.ui.threaded.comments {
  display:inline;
  background-color: white;
}


.ui.container.container {
  margin-bottom: 15px;
}


.ui.container {
  justify-content: center;
  align-items: center;
}

.uicentered.center.aligned.center.aligned.one.column.grid {
  padding: 30px;
}


.hello {
  height: 100%;
}

#root {
  height: 100%;
}

.style {
  height: 100%;
}

.dashboard.style {
  height:20vh;
  padding: 20px;
  margin:40px;
}

.menu.style {
  height: 10vh;
  padding:20px;
  margin: 40px;
}

/* .icon.cont {
  align-items: center;
  justify-content: center;
} */

.center {
  justify-content: center;
  align-items: center;
}

.ui.center.aligned.container {
  justify-content: center;
  align-items: center;
}

.user.dashboard.menu {
  background-color: black;
  justify-content: center;
  margin-bottom: 0px;
  align-items: center;
}

h2 {
    margin-top: 0px;
    margin-left: 25px;
}

.ui.raised.card.cardItem {
  width: 90%;
  justify-content: center;
  align-items: center;
}
